Django==2.2.12
django-admin-honeypot==1.1.0
django-allauth==0.39.1
django-bootstrap4==2.3.1
django-classy-tags==1.0.0
django-cms==3.7.3
django-cors-headers==3.0.2
django-crispy-forms==1.9.1
django-environ==0.4.5
django-rest-auth==0.9.5
django-summernote==0.8.11.6
django-taggit==1.3.0
djangocms-admin-style==1.5.0
djangocms-animate-on-scroll==1.0.1
djangorestframework==3.5.4
jsonschema==3.2.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
Pillow==7.1.2
pipenv==2018.11.26
psycopg2-binary==2.8.6
python-dateutil==2.5.3
python-decouple==3.4
python-dotenv==0.13.0
python3-openid==3.1.0
pytz==2019.1
virtualenv==16.7.5
virtualenv-clone==0.5.3
whitenoise==5.1.0
