<!-- Footer -->
<!-- Footer -->
{% load static %}


<footer id="main-footer" class="py-4 bg-dark text-white text-center">

    <a class="navbar-brand" href="{% url 'index' %}" style="float:left">
        <img src="{% static 'img/logo.png' %}" class="logo" alt="">
        </a>
      <a class="navbar-brand" href="https://www.instagram.com/dangdatsdelicious/" style="float:left"><i class="fab fa-instagram fa-2x" style="color:#ffe05d;height:2rem"></i></a>
      
            <a class="navbar-brand" href="https://www.facebook.com/DangDatsDelicious" style="float:left"><i class="fab fa-facebook fa-2x" style="color:#ffe05d;height:2rem"></i></a>
      
     <span style="padding:1rem;color:#fff;font-size:1.5rem;float:right">
         
      571-276-1579 <br /> <em>DangDatsDelicious@gmail.com</em>

    </span>


   
  <img class="col-md-4" style="height:22rem;border-radius:2rem" src="{%static 'img/cert.png' %}">



  
  
  
</footer>